{% extends "base.html" %}
{% block head %}
  {{ super() }}
  <meta content='{{ SITEURL }}/{{ article.url }}' property='og:url' />
  <meta content="{{ article.content | striptags | truncate(120) }}" property='og:description' />
  <meta content="article" property="og:type" />
{% endblock %}
{% block content %}
  <p><a href="{{ SITEURL }}/" class="hex-shape big"></a></p>
  <hr />
  <article>
    <h3 class="reset bold a">{{ article.title }}</h3>
    {% if article.date %}
      <small class="datetime muted">{{ article.date | strftime('%Y-%m-%d') }}</small>
    {% endif %}
    <hr>
    {{ article.content }}
  </article>
  {% if article.url != "/about/" %}
    <div class="signoff">
      <p>
        Til next time,<br/>
        <div class="avatar-wrapper"><img src="{{ SITEURL }}/theme/images/avatar.png" class="avatar" /></div>
        {{ AUTHOR }}
        <span class="muted">at {{ article.date | strftime('%H:%m') }}</span>
      </p>
    </div>
  {% endif %}
  {% if DISQUS_SITENAME %}
    <hr />
    <div class="block">
      <div id="disqus_thread"></div>
      <script type="text/javascript">
        var disqus_shortname = "{{ DISQUS_SITENAME }}";
        (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    </div>
  {% endif %}
{% endblock %}
